%%Panel.HTMLHead%%
    <body id="home">
      <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="inner">
                    <div class="Content Widest" id="LayoutColumn1">
                        %%Panel.HomeSlideShow%%
						%%Panel.Callouts%%
						%%GLOBAL_PageContent%%
						%%Panel.SideNewsletterBox%%
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
	  </div>
    </body>
</html> 
