<div id="calloutContainer" class="grid">
    <div class="callout grid__item one-third">
        <div id="callout-1">
            <div class="overlay">
            <img src="%%ASSET_images/home_icon.png%%" alt="home icon">
            <span>Home Owners</span>
            </div>
        </div>        
    </div>
    <div class="callout grid__item one-third">
        <div id="callout-2">
            <div class="overlay">
            <img src="%%ASSET_images/build_icon.png%%" alt="building icon">
            <span>Pool Companies</span>
            </div>
        </div>       
    </div>
    <div class="callout grid__item one-third">
        <div id="callout-3">
            <div class="overlay">
            <img src="%%ASSET_images/truck_icon.png%%" alt="truck icon">
            <span>Commercial Properties</span>
            </div>
        </div>  
    </div>
</div>
