<div class="footer">
    <div class="inner">      
        <div class="footer-main">
            <div class="inner">
                <div class="footer-columns grid">
                    <div class="grid__item one-sixth">
                        <h4>Store Information</h4>
                        <ul>
                            <li>Footer Link</li>
                            <li>Footer Link</li>
                            <li>Footer Link</li>
                            <li>Footer Link</li>
                            <li>Footer Link</li>
                            <li>Footer Link</li>
                            <li>Footer Link</li>
                            <li>Footer Link</li>
                            <li>Footer Link</li>
                            <li>Footer Link</li>
                        </ul>
                    </div>
                    <div class="grid__item one-sixth">
                        <h4>Account Menu</h4>
                        <ul>
                            <li>Footer Link</li>
                            <li>Footer Link</li>
                            <li>Footer Link</li>
                            <li>Footer Link</li>
                            <li>Footer Link</li>
                            <li>Footer Link</li>
                            <li>Footer Link</li>
                            <li>Footer Link</li>
                            <li>Footer Link</li>
                            <li>Footer Link</li>
                        </ul>
                    </div>
                    <div class="grid__item one-third">
                        <h4>Latest Blog Posts</h4>
                        <ul class="post-list">
                            <li>Lorem ipsum dolor sit amet consecte tur adipiscing elit.</li>
                            <li>Lorem ipsum dolor sit amet consecte tur adipiscing elit.</li>
                            <li>Lorem ipsum dolor sit amet consecte tur adipiscing elit.</li>
                            <li>Lorem ipsum dolor sit amet consecte tur adipiscing elit.</li>
                            <li>Lorem ipsum dolor sit amet consecte tur adipiscing elit.</li>
                        </ul>
                        
                    </div>
                    <div class="grid__item one-third">
                        <div class="grid contact-info">
                            <div class="grid__item one-whole"><h4>Contact Us</h4></div>
                            <div class="grid__item one-half">
                                <!-- global email: couldn't find :| -->
                                <p>info@altontrading.com</p>
                                <p>%%GLOBAL_StorePhoneNumber%%</p>
                            </div>
                            <div class="grid__item one-half social-links">
                                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                                <a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
                                <a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest fa-2x"></i></a>
                                <a href="https://youtube.com" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
                            </div>
                        </div>
                        <div>
                            <div class="test-header">
                            <h4>Our Customers Say:</h4>
                                <div id="test-controls">
                                    <span id="test-less"><i class="fa fa-caret-left"></i></span>
                                    <span id="test-num">1</span>
                                    <span id="test-more"><i class="fa fa-caret-right"></i></span>
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                            <div id="test-content">
                                <p>I received my book on the same day that Amazon sent me the books I ordered from them. I was extremely pleased to receive this book so soon. My son wanted it as part of his Easter present and I didn't think it would have enough time to get here by then. He will be very pleased. Thank you so much - Marsha B.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-links">
            <div class="inner">
                <div class="grid">
                    <div class="grid__item two-thirds">
                        <img src="%%ASSET_images/footer_badge.png%%" alt="Authorize.net Verified Merchant">
                        <img src="%%ASSET_images/footer_badge_3.png%%" alt="Payment Methods">
                        <img src="%%ASSET_images/footer_badge_2.png%%" alt="GeoTrust Secured">
                    </div>
                    <div class="grid__item one-third">
                        © Copyright 2015  -  Altona Trading LLC.  -  All Rights Reserved<br>
                        Sitemap  |  Design by <a href="http://www.redheadlabs.com/">Redhead Labs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
