<div id="SearchForm" class="cf">
    <form action="%%GLOBAL_ShopPath%%/search.php" method="get" onsubmit="return check_small_search_form()">
        <label for="search_query">%%LNG_Search%%</label>
        <input type="text" name="search_query" id="search_query" class="Textbox autobox clearFocus" value="%%LNG_Search%%" />
        <input type="submit" class="Button" value="" name="Search" title="Search" />
    </form>
</div>
