<div class="header">
    <div class="inner">
        <div id="Header">
            <div class="inner">
                <div class="header-logo">
                    %%GLOBAL_HeaderLogo%%
                </div>
                <div class="header-secondary">
                    %%Panel.TopMenu%%
                    <div style="clear:right;"></div>
                    %%Panel.HeaderSearch%%
                </div>
            </div>
        </div>
        <div class="PageMenu">
            <div class="gradient-bg inner">
                %%Panel.PagesMenu%%
            </div>
        </div>
    </div>
</div>
