%%Panel.HomeSlideShowJavaScript%%

<div id="slideshowContainer" class="grid">
    <div id="slideshowProduct" class="grid__item two-fifths">
    </div>
    <div id="slideshowSlides" class="grid__item three-fifths">
        <div><img src="%%ASSET_images/slide_header.png%%" alt="Calcium Wizard -- The Solution to Your Calcium Build-up" /></div>
         <div class="slide-show slide-show-render slide-show-render-full flexslider Panel" data-swap-frequency="%%GLOBAL_SwapFrequency%%" id="HomeSlideShow">
            <ol class="slides">
            %%SNIPPET_SlideList%%
            </ol>
        </div>        
        <a href=""><span class="view-button">View Now</span></a>       
    </div>
    <div class="slideController"></div>
</div>
