%%GLOBAL_NewsletterBoxControlScript%%
<div class="newsletter-subscription" id="SideNewsletterBox">
    <div class="gradient-bg inner">
        <div class="grid">
            <div class="grid__item one-third">
                <h3>Subscribe to Our Newsletter</h3>
                <span>To Receive Exclusive Offers and Discounts</span>
            </div>
            <div class="grid__item two-thirds">
                <form action="%%GLOBAL_ShopPath%%/subscribe.php" method="post" id="subscribe_form" class="subscribe_form" name="subscribe_form">
                    <input type="hidden" name="action" value="subscribe" />
                    <div class="grid">
                        <div class="grid__item one-third">
                            <label for="nl_first_name">Name</label>
                            <input class="Textbox autobox clearFocus" value="Name" id="nl_first_name" name="nl_first_name" type="text" />
                        </div>
                        <div class="grid__item one-third">
                            <label for="nl_email">Email</label>
                            <input class="Textbox autobox clearFocus" value="Email" id="nl_email" name="nl_email" type="email" />
                        </div>
                        <div class="grid__item one-third">
                            <button class="submit-button clearFocus" type="submit"><i class="fa fa-envelope-o"></i> Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
%%Panel.NewsletterJavaScript%%
