<div class="TopMenu">
    <div class="inner">
        <ul>
            <li>%%GLOBAL_StorePhoneNumber%%</li>
            <li><a href="/account.php">My Account</a></li>
            <li><a href="/my_orders.php">Order Status</a></li>
            <li><a href="/cart.php"><i class="fa fa-shopping-cart"></i> View Cart %%GLOBAL_CartItems%%</a></li>
        </ul>
    </div>
</div>
