/* ~It's not responsive~ */
.TopMenu > .inner, #Header > .inner, .PageMenu > .inner, .main > .inner, .footer-main > .inner, .footer-links > .inner, .newsletter-subscription > .inner {
    width: 1000px;
}

/* LINK, UTIL */

a, i {
    transition: color 0.35s;
}

.TopMenu a:hover, .footer-main i:hover, #test-controls i:hover {
    color: #002d3d;
}

.gradient-bg {
    background: #26888c;
    background: -moz-linear-gradient(top, #26888c 0%, #05676b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26888c), color-stop(100%,#05676b));
    background: -webkit-linear-gradient(top, #26888c 0%,#05676b 100%);
    background: -o-linear-gradient(top, #26888c 0%,#05676b 100%);
    background: -ms-linear-gradient(top, #26888c 0%,#05676b 100%);
    background: linear-gradient(to bottom, #26888c 0%,#05676b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26888c', endColorstr='#05676b',GradientType=0 );
    
    -webkit-box-shadow: 1px 1px 0px 0px rgba(32,32,32,0.75);
    box-shadow: 1px 1px 1px 0px rgba(32,32,32,0.75);
}

/* HEADER STYLES */

#Header {
    padding-top: 16px;
    margin-bottom: 0px;
}

.header {
    border: 0;
    margin-bottom: 20px;
}

.TopMenu {
    font-family: lato;
    float: right;
    color: #14767a;
    padding-bottom: 16px;
}

.TopMenu a {
    color: #14767a;
}

.TopMenu .inner {
    width: 100%;
    padding: 0px;
}

.TopMenu li:not(:last-child):after { /* add pipe after items except last */
    content: "|";
    margin-left: 5px;
}

.TopMenu li {
    font-size: 14px;
    line-height: 14px;
    padding: 0 0 0 5px;
}

#SearchForm {
    width: 20.5%; /* width: 1020, search: 210; 20.5%  */
}

#SearchForm .Button, #SearchForm input.Textbox, #SearchForm {
    font-family: lato; /* not sure why this one needed to be made more specific */
    background-color: #dedede;
    border: 0px;
    height: 30px;
    line-height: 30px;
}

#SearchForm .Button {
    background-image: url("%%ASSET_images/search_icon.png%%");
    float: right;
    width: 15%; /* 8px padding in psd */
}

.PageMenu {
    margin: 0;
}

.PageMenu .inner {
    /* gradient-bg */
}

.PageMenu li {
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 0 0 0 16px;
    margin: 0 0 0 0;
}

.PageMenu .sf-menu > li > a {
    display: inline-block;
    color: #fff;
    height: 50px;
    line-height: 50px;
}

.PageMenu .sf-menu > li > a:hover {
    color: #20c4cb;
}

.PageMenu li:after {
    display: inline-block;
    content: url("%%ASSET_images/nav_spacer.png%%");
    vertical-align: middle;
    margin-left: 16px;
}


/* SLIDE SHOW */

#slideshowContainer {
    position: relative;
    margin-bottom: 20px;
    height: 525px;
    background: url("%%ASSET_images/slide_bg.jpg%%") no-repeat;
}

#slideshowProduct {
    height: 100%;
    background: url("%%ASSET_images/slide_product.png%%") no-repeat center;
}

#slideshowSlides {
    padding-top: 20px;
    padding-right: 35px;
    text-align: center;
    height: 100%;
}

.flex-viewport {
    box-shadow: 2px 4px 3px 2px #202020;
    }

.view-button { /*20c4cb to 0a3b3d, 3px rounded, 175px by 42px */   
    
    /* lato bold italic, 18px */
    color: #fff;
    font-family: lato;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    letter-spacing: -1px;
    
    display: inline-block;
    height: 42px;
    line-height: 42px;
    width: 175px;
    
    border-radius: 3px;
    
    background: #20c4cb;
    background: -moz-linear-gradient(top,  #20c4cb 0%, #0a3b3d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#20c4cb), color-stop(100%,#0a3b3d));
    background: -webkit-linear-gradient(top,  #20c4cb 0%,#0a3b3d 100%);
    background: -o-linear-gradient(top,  #20c4cb 0%,#0a3b3d 100%);
    background: -ms-linear-gradient(top,  #20c4cb 0%,#0a3b3d 100%);
    background: linear-gradient(to bottom,  #20c4cb 0%,#0a3b3d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20c4cb', endColorstr='#0a3b3d',GradientType=0 );
}

ol.flex-control-nav {
    width: 11%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.flex-control-nav li {
    display: inline-block;
    margin: 0 3px;
}

.flex-control-paging li a {
    background: #001b25 none repeat scroll 0 0;
    border: 0;
    height: 18px;
    width: 18px;
    border-radius: 20px;
}
.flex-control-paging li a.flex-active {
    background: #20c2c9 none repeat scroll 0 0;
}

/* CALLOUT ITEMS */

#calloutContainer {
    padding-bottom: 20px;
}

.callout {
    color: #fff;
    
    font-family: lato;
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    letter-spacing: -1px;
    
    height: 158px;
    text-align: center;
}

.callout > div {
    position: relative;
    height: 100%;
}

.callout .overlay {
    width: 100%;
    position: absolute;
    bottom: 20px;
}
.callout .overlay img {
    padding-right: 6px;
}

#callout-1 {    
    background: url("https://cdn3.bigcommerce.com/s-bkxgyo7e/product_images/uploaded_images/callout-1.jpg") no-repeat;
}

#callout-2 {
    background: url("https://cdn3.bigcommerce.com/s-bkxgyo7e/product_images/uploaded_images/callout-2.jpg") no-repeat;
    }

#callout-3 {
    background: url("https://cdn3.bigcommerce.com/s-bkxgyo7e/product_images/uploaded_images/callout-3.jpg") no-repeat;
    }

/* NEWSLETTER BOX */

#SideNewsletterBox {
    color: #fff;
    font-family: lato;
    margin-bottom: 20px;
}

#SideNewsletterBox h3, #SideNewsletterBox span {
    text-align: center;
}

#SideNewsletterBox h3 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1px;
    padding: 0;
    color: #fff;
}

#SideNewsletterBox span {
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

.newsletter-subscription button.submit-button {
    cursor: pointer;
    
    background: #002d3d;
    background: -moz-linear-gradient(top, #002d3d 0%, #030c15 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#002d3d), color-stop(100%,#030c15));
    background: -webkit-linear-gradient(top, #002d3d 0%,#030c15 100%);
    background: -o-linear-gradient(top, #002d3d 0%,#030c15 100%);
    background: -ms-linear-gradient(top, #002d3d 0%,#030c15 100%);
    background: linear-gradient(to bottom, #002d3d 0%,#030c15 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002d3d', endColorstr='#030c15',GradientType=0 );
    
    border-radius: 3px;
    box-shadow: 0px 2px 2px 2px #222;
    
    color: white;
    font-size: 20px;
    font-family: lato;
    font-weight: bold;
    font-style: italic;
    letter-spacing: -1px;
    display: inline-block;
    border: 0px;
    width: 175px;
    height: 45px;
}

#SideNewsletterBox .grid__item {
    vertical-align: middle;
}

/* FOOTER */

.footer-main {
    font-family: "Lato",Arial,sans-serif;
    background-color: #dfdfdf;
}

.footer-main .grid__item {
    font-size: 13px;
}

.footer-main h4, .footer-main i {
    color: #14767a;
}

.footer-main h4 {
    font-size: 17px;
}

.footer-main .contact-info i {
    font-size: 1.5em;
    padding-left: 14px;
}

.footer-main .post-list li {
    padding-left: 12px;
    text-indent: -12px;
}
.footer-main .post-list li:before {
    content: "• ";
    color: #14767a;
}

.social-links {
    padding-left: 8px;
    padding-top: 16px;
}

.contact-info p {
    margin-bottom: 0;
}

.contact-info {
    margin-bottom: 20px;
}

/* TESTIMONIAL WIDGET */

.test-header h4{
    float: left;
}

#test-controls {
    font-size: 17px;
    color: #14767a;
    float: right;
}

#test-controls i {
    cursor: pointer;
    transform: scaleX(1.7);
}

#test-controls > * {
    padding-left: 10px;
}

/* FOOTER LINKS */

.footer-links {
    padding: 12px 0;
}

.footer-links .two-thirds {
    vertical-align: middle;
    text-align: left;
}

.footer-links .two-thirds img {
    height: 100%;
    vertical-align: middle;
}

.footer-links .one-third {
    font-size: 11px;
    text-align: center;
    height: 100%;
    vertical-align: middle;
}







